.serve.vitrine{

  

    background-image: url("../../Assets/Content/dark.png");
    background-repeat: no-repeat;
    height: fit-content ;
background-position: 0;
background-size: cover; 
width: 100%;

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;

gap: 80px;

.ln {
    width: 2px;
    height: 712px    ;
    background-color: #cf3c17;
  }


.etudiant , .entreprise {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: fit-content;
height: fit-content;

margin-bottom: 60px;




.rowing {
margin-bottom: 20px;
display: flex;
align-items: flex-start;
justify-content: center;
gap: 20px;

.caro ,.carb {
  width: 230px ;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 10px;

border: 1px solid #5757674a;
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(128, 128, 128, 0.47) ;


&:hover {

  background-color: #F0C6BD;
  border: 1px solid #F0C6BD;
  cursor:pointer ;

}



h5 {
font-size: 24px;
color: #1c1c30;
font-weight: 700;


}

h6 {
  margin-top: 5px;
  color: #cf3c17;
  font-size: 18px;
margin-bottom: 15px;
font-weight: 700;
}

h4 {
  margin-top: 2px;
  align-self: flex-start;
font-size: 12px;
font-weight: 500;

}


}

.carb {
visibility: hidden;

}




}



h1{
color: #1c1c30;
font-weight: bold;
font-size: 22px;
}



}






}

