.apropos {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



.quest {
    margin-top: 60px;
    margin-bottom: 30px;
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: space-evenly;
gap: 20px;

.illus {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;


img {
margin-top: 30px;
    width: 396px;

}


h1 {
margin-bottom: 5px;
    color: #1c1c30;
    font-size: 28px;
    font-weight: bold;

}


h2 {
margin-top: 3px;
    color: #1c1c30;
    font-size: 16px;
font-weight: 500;

}


}



}



.lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
margin: 30px 0px;
background-color: #f0efef;
width: 100%;
h1 {
    color: #cf3c17;
    font-size: 26px;
font-weight: bold;
margin-top: 50px;
margin-bottom: 10px;
}

.wrapper {
display: flex;
flex-direction: row;
gap: 60px;
margin-top: 20px;
margin-bottom: 10px;


a{text-decoration: none;}

.logoLien {
    margin-top: 30px ;
    margin-bottom: 60px;
  
display: flex;
flex-direction: column;
gap: 15px;
justify-content: center;
align-items: center;


filter: grayscale(100%);
-webkit-filter: grayscale(100%);

&:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}


img{
cursor: pointer;
    height: 60px;

}


h4 {
cursor: pointer;
color: #181888;
    font-size: 14px;
    font-weight: 500;
   
    text-align: center;
}



}

}


}




.callToAction {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
margin-top: 60px;
gap: 100px;

img {

height: 300px;

}

.action {

    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;

h2{

    font-size : 34px; 
font-weight: bold;
}

h6 {
    margin: 25px 0px;
    max-width: 500px;
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 25px;
}




button {
    width: 140px;
    height: 45px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: #1c1c30;
   
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      border: 2px solid #1c1c30;
      background-color: white;
      color: #1c1c30;
      font-weight: 500;
    }
  }


}




}





 








.pan {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin-top: 80px;
background-color: #fff0db;
width: 100%;
height: fit-content;


.con {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 100px;


img {

width: 300px;
}


.sideText {
    display: flex ; 
    flex-direction: column;
    gap: 60px;
    width: 600px;
justify-content: center;

.ligne.top {
   align-self: flex-start;
}

.ligne.mid {
    align-self: center;
}

.ligne.bot {
   align-self: flex-end;
}

.ligne{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

.icone
{width: 30px;
    height: 30px;
    margin-right: 10px;
}

h6 {
    font-size: 20px;
    font-weight:bold;
}
    
}
p{
    margin-left: 42px;
    font-size: 12px;
    text-align: justify;
    max-width: 400px;
}


}



}



}


h1 {
    color: #cf3c17;
    font-size: 22px;
font-weight: bold;
margin: 60px;
}
h2 {
    visibility: hidden;
    color: #f7cb8f;
    font-size: 22px;
font-weight: bold;
margin: 30px;
}


}



.desc { 

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 200px;
margin-top: 80px;


.right {

    width: 510px;
    padding: 20px;

}







.left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


a {
  text-decoration: none;
  align-self: flex-end;
.vid {
display: flex;
flex-direction: row ; 
align-items:  center;


h3 {
color: #cf3c17;
font-size: 14px;
font-weight: 500;
margin-left: 4px;

}

.ico {
    margin-top: 2px;
    width: 18px;
    color: #cf3c17;
}



}

  
}
.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
align-self: flex-end;

.apo {
    width: 40px;
    margin-left: 10px;
}
a {
text-decoration: none;


img {
    width: 33px;
margin-left: 10px;
margin-top: 10px;

filter: grayscale(100%);
-webkit-filter: grayscale(100%);

&:hover {

    cursor: pointer;

    filter: none;
    -webkit-filter: grayscale(0);
}

}
}
}


h1 , h2 {
    color: #1c1c30;
    font-size: 28px;
font-weight: bold;
}


h1 {
align-self: flex-start;


}

h2 {
    align-self: flex-end;
    margin-bottom: 40px;
}

p {
    text-align: justify;
   max-width: 460px;
}


}

}



}