.coming {

    display: flex;
    flex-direction: column;


    display: flex;
    flex-direction: column;

    justify-content: center;
align-items: center;
 

.errorImage {

    width: 900px ;

    }


.mixTitle {
    display: flex;
    align-items: center;
    justify-content: center;
 


    .errorLink  {

        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        margin-left:5px;
        margin-top: 10px;
        color: #cf3c17;


    }


.errorLinkRight {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 5px;
    color: #cf3c17;
}

}


.errorTitle {
font-size: 24px;
font-weight: bold;
margin-top: 80px;
margin-bottom: 20px;
color: #cf3c17;

}

.midTitle {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px ;
    color: #1c1c30;


}

.midTitleBot {
    
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px ;
    color: #1c1c30;


}



}